.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
}

.Ingredients{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

.Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  font-weight: bold;
}